<%- include('../Partials/header.ejs') %>
    <%- include('../Partials/main_nav.ejs') %>
        <main class="container">
            <h1>
                <%= title %>
            </h1>
            <a href="/books/add" class="btn btn-primary">Add New Book</a>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Author</th>
                        <th>Published</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% BookList.forEach(book=> { %>
                        <tr>
                            <td>
                                <%= book.name %>
                            </td>
                            <td>
                                <%= book.author %>
                            </td>
                            <td>
                                <%= book.published %>
                            </td>
                            <td>
                                <%= book.description %>
                            </td>
                            <td>
                                <%= book.price %>
                            </td>
                            <td>
                                <a href="/books/edit/<%= book._id %>">Edit</a>
                                <a href="/books/delete/<%= book._id %>">Delete</a>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
        </main>
        <%- include('../Partials/footer.ejs') %>