<%- include('../Partials/header.ejs') %>
    <%- include('../Partials/main_nav.ejs') %>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Author</th>
                    <th>Published</th>
                    <th>Description</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <% if (BookList && BookList.length> 0) { %>
                    <% BookList.forEach(book=> { %>
                        <tr>
                            <td>
                                <%= book.Name %>
                            </td>
                            <td>
                                <%= book.Author %>
                            </td>
                            <td>
                                <%= book.Published %>
                            </td>
                            <td>
                                <%= book.Description %>
                            </td>
                            <td>
                                <%= book.Price %>
                            </td>
                        </tr>
                        <% }) %>
                            <% } else { %>
                                <tr>
                                    <td colspan="5">No books available</td>
                                </tr>
                                <% } %>
            </tbody>
        </table>

        <%- include('../Partials/footer.ejs') %>