<%- include('./Partials/header.ejs') %>
<%- include('./Partials/main_nav.ejs') %>
    <!--Main content-->
    <div class="home-page">
      <% if (displayName) { %>
        <p>Hello, <%= displayName %>!</p>
    <% } else { %>
        <p>Hello, Guest!</p>
    <% } %>
      <h1 class="home-title"> <%= title %></h1>
      <p class="home-description"><%= description %></p>
      <img class="logo-image" src="../Assets/images/TEAMLOGO.png" alt="Our Team logo">
      <p>Our Team Logo</p>
      <a href="/movieslist/add" class="btn btn-primary">+ Add Movie</a>
    </div>
<%- include('./Partials/footer.ejs') %>