<%- include Partials/header.ejs %>
    <%- include Partials/main_nav.ejs %>

        <!-- Main content -->
        <main class="container">
            <h1>
                <%= title %>
            </h1>

            <section>
                <a href="/bookslist/add" class="btn btn-primary">
                    <i class="fas fa-plus-circle"></i> Add Book
                </a>
            </section>

            <table class="table table-bordered table-striped table-hover mt-3">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Author</th>
                        <th>Published</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% BookList.forEach(book=> { %>
                        <tr>
                            <td>
                                <%= book.Name %>
                            </td>
                            <td>
                                <%= book.Author %>
                            </td>
                            <td>
                                <%= book.Published %>
                            </td>
                            <td>
                                <%= book.Description %>
                            </td>
                            <td>
                                <%= book.Price %>
                            </td>
                            <td>
                                <a href="/bookslist/edit/<%= book._id %>" class="btn btn-primary btn-sm">Edit</a>
                                <a href="/bookslist/delete/<%= book._id %>" class="btn btn-danger btn-sm">Delete</a>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
        </main>

        <%- include Partials/footer.ejs %>