<%- include ('../Partials/header.ejs') %>
<%- include ('../Partials/main_nav.ejs') %>
<main class="container">
    <div class="row">
        <div class="offset-md-1 col-md-10">
            <h1><%= title %></h1>
            <br>
            <a href="/movieslist/add" class="btn btn-primary" role="button">
                <i class="fas fa-plus-circle"></i> Add Movie Information
            </a>
        <table class="table table-bordered table-striped table-hover">
            <!--Table Header-->
            <tr class="d-flex">
                <th class="text-center col-2">title</th>
                <th class="text-center col-2">genre</th>
                <th class="text-center col-2">year</th>
                <th class="col-5">description</th>
                <th class="text-center col-1">edit</th>
                <th class="text-center col-1">delete</th>

            </tr>
            <% for(let count=0;count<MovieList.length;count++) { %>
            <tr class="d-flex">
                <td class="text-center col-2"><%= MovieList[count].title %></td>
                <td class="text-center col-2"><%= MovieList[count].genre %></td>
                <td class="text-center col-2"><%= MovieList[count].year %></td>
                <td class="col-5"><%= MovieList[count].description %></td>
                <td class="text-center col-1"> 
                    <a href="/movieslist/edit/<%= MovieList[count]._id%>"
                        class="btn btn-primary btn-sm">
                    <i class="fas fa-pencil-alt"></i>Edit 

                    </a>
                    </td>

                <td class="text-center col-1"> 
                    <a href="/movieslist/delete/<%= MovieList[count]._id%>"
                        class="btn btn-danger btn-sm">
                    <i class="fas fa-trash-alt"></i>Delete

                    </a>
                    </td>


            </tr>
            <% } %>
        </table>
        </div>
    </div>
</main> 
<%- include ('../Partials/footer.ejs') %>