<%- include('../Partials/header.ejs') %>
    <%- include('../Partials/main_nav.ejs') %>

        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Genre</th>
                    <th>Year Released</th>
                    <th>Description</th>
                    <th>Rating</th>
                </tr>
            </thead>
            <tbody>
                <% if (MovieList && MovieList.length> 0) { %>
                    <% MovieList.forEach(movie=> { %>
                        <tr>
                            <td>
                                <%= movie.title %>
                            </td>
                            <td>
                                <%= movie.genre %>
                            </td>
                            <td>
                                <%= movie.year %>
                            </td>
                            <td>
                                <%= movie.description %>
                            </td>
                            <td>
                                <%= movie.rating %>
                            </td>
                        </tr>
                        <% }) %>
                            <% } else { %>
                                <tr>
                                    <td colspan="5">No movies available</td>
                                </tr>
                                <% } %>
            </tbody>
        </table>

        <%- include('../Partials/footer.ejs') %>